pip>=23.1
setuptools>=65.0
wheel>=0.38.4

flask==2.3.3
flask-cors
gunicorn

transformers==4.39.3
tokenizers==0.13.3   # ✅ 컴파일 안 해도 되는 안정 버전
torch==2.2.2         # ⚠️ torch도 CUDA 없이 돌아가는 CPU 버전 사용
huggingface-hub
